@import '../../style/func.scss';

.page-header {
  color: #6b6f82;
  font-size:14px;
  margin-bottom: 20px;
  .title{
    font-size: 16px;
    font-weight: 700;
  }
  .subtitle {
    font-size: 12px;
    margin-top: 8px;
    &.high{
      color: #ef7421;
    }
  }
}